<!-- Header -->
<header id="header">
  <h1 id="logo">
    <a href="{{site.url}}/index.html">
      Workshop Homepage
    </a>
  </h1>
  <nav id="nav">
    <ul>
      <li><a href="{{site.url}}/index.html">Home</a></li>
      <li><a href="{{site.url}}/location/">Location</a></li>
      <li><a href="{{site.url}}/program/">Program</a></li>
      <li><a href="{{site.url}}/submit/">Submit</a></li>
      <li><a href="{{site.url}}/register/" class="button special">Register!</a></li>
    </ul>
  </nav>
</header>
