<section id="one" class="spotlight style1 bottom">
  <div class="content">
  <div class="container">
      <div class="row">
	  <div class="2u 6u(xsmall)"><span class="image fit"><img src="{{site.url}}/images/logo_verticale.jpg" alt="" /></span></div>
	  <div class="8u  12u$(xsmall)">
            <header>
              <p>The Department of Statistical Sciences of the University of
              Padua is looking forward to organizing the next annual Workshop
              of the joint working group on "Adaptive Designs and Multiple
              Testing Procedures" of the German and Austro-Swiss Regions of
              the International Biometric Society.</p>
            <p> Registration for the workshop is now open using
              the <a href="register/">registration form</a>.</p>
            <p> We invite abstracts for contributed talks on the topics of Adaptive
              Designs and Multiple Testing. Deadline for submission is <em>February 28,
                2016</em>. Abstracts may be submitted using
              the <a href="submit/">submission form</a>.</p>
            <p> To keep up to date with Working Group activities,
            follow us
            on <a href="https://twitter.com/ag_admtp">Twitter</a> or 
            sign up for our <a href="#five">newsletter</a>.
            </header>
            <p>
              We are looking forward to welcoming you in Padua.
            </p>
            <p>Florian Klinglmueller, Livio Finos, Monica Chiogna (Local
              organizers) </p>
            <p>Andreas Faldum (Working group chair)</p>

          </div>
      </div>

  </div>
  </div>
  <a href="#five" class="goto-next scrolly">Next</a>
</section>
