<section id="one" class="wrapper style1 special fade-up">
  
  <div class="container">
    <header>
      <div class="box alt">
	<div class="row 50% uniform">
	  <div class="2u 6u(xsmall)"><span class="image fit"><img src="{{site.url}}/images/logo_verticale.jpg" alt="" /></span></div>
	  <div class="8u  12u$(xsmall)">      <p>The Department of Statistical Sciences of the University of
      Padua is looking forward to organizing the next annual Workshop
      of the joint working group on "Adaptive Designs and Multiple
      Testing Procedures" of the German and Austro-Swiss Regions of
              the International Biometric Society.</p>
            <p> Registration for the workshop is now open using
            the <a href="register/">registration form</a>.</p>
            <p> We invite abstracts for contributed talks on the topics of Adaptive
Designs and Multiple Testing. Deadline for submission is <em>February 14,
2016</em>. Abstracts may be submitted using the <a href="submit/">submission form</a>.</p>
</div>
	</div>
      </div>
    </header>
    <p>
We are looking forward to welcoming you in Padua.
</p>

      <p>Florian Klinglmueller, Livio Finos, Monica Chiogna (Local
        organizers) </p>
      <p>Andreas Faldum (Program committee)</p>
  </div>
  <a href="#two" class="goto-next scrolly">Next</a>
</section>
