<div id="thursday-april-28-1" class="section level2">
  <h2>Thursday, April 28</h2>
  <div id="multiple-testing-1" class="section level3">
    <h3>13:00 - 14:40: Multiple Testing 1</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Pesarin Fortunato</strong><br /> <em>An Analysis of Union-Intersection and Intersection-Union Tests for Equivalence and Non-Inferiority</em><br /> University of Padua, Italy</p></li>
      <li><p><strong>Finner Helmut</strong>, Veronika Gontscharuk<br /> <em>Two-sample Kolmogorov-Smirnov type tests and local levels</em><br /> Deutsches Diabetes-Zentrum (DDZ), Leibniz-Zentrum für Diabetes-Forschung an der Heinrich-Heine-Universität Düsseldorf, Germany</p></li>
      <li><p><strong>Gontscharuk Veronika</strong>, Helmut Finner<br /> <em>Weighted Kolmogorov-Smirnov tests in one- and two-sample problems</em><br /> German Diabetes Center, Leibniz Institute for Diabetes Research at Heinrich-Heine-University Dusseldorf, Germany</p></li>
      <li><p><strong>Ristl Robin</strong>, Dong Xi, Ekkehard Glimm, Martin Posch<br /> <em>Optimal exact tests for multiple binary endpoints</em><br /> Medical University of Vienna, Austria</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
  </div>
  <div id="adaptive-design-1" class="section level3">
    <h3>15:10 - 16:25: Adaptive Design 1</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Jaki Thomas</strong>, Pavel Mozgunov<br /> <em>A method for dose-finding based on weighted differential entropy that does not require a monotonicity assumption</em><br /> Lancaster University, United Kingdom</p></li>
      <li><p><strong>Jörgens Silke</strong>, Tobias Mielke<br /> <em>Considerations On Futility Rules For Adaptive Dose-Finding Designs</em><br /> ICON Clinical Research, Germany</p></li>
      <li><p><strong>Parashar Deepak</strong>, Jack Bowden, Colin Starr, Lorenz Wernisch, Adrian Mander<br /> <em>Optimal designs for group sequential biomarker-enrichment oncology trials.</em><br /> University of Warwick, United Kingdom</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
  </div>
  <div id="adaptive-design-2" class="section level3">
    <h3>16:45 - 18:00: Adaptive Design 2</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Maurer Willi</strong>, Byron Jones, Ying Chen<br /> <em>A robust combination test for sample size adaptation in a two-stage cross-over trial for Average Bioequivalence</em><br /> Novartis Pharma, Switzerland</p></li>
      <li><p><strong>Kunzmann Kevin</strong>, Meinhard Kieser<br /> <em>Optimal Adaptive Two-Stage Designs for Single-Arm Trials with Binary Endpoint: Recent Improvements and Consistent Inference</em><br /> Heidelberg University, Germany</p></li>
      <li><p><strong>Weigl Klemens</strong>, Ivo Ponocny<br /> <em>ReThink: Adaptive Two-Stage Designs applied with PsyStatAlpha in Psychological Research</em><br /> JKU Linz, Austria, Austria</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
    <p></p>
  </div>
</div>
<div id="friday-april-29-1" class="section level2">
  <h2>Friday, April 29</h2>
  <div id="adaptive-design-3" class="section level3">
    <h3>08:50 - 10:30: Adaptive Design 3</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Khan Josephine</strong>, Peter Kimani, Nigel Stallard, Ekkehard Glimm.<br /> <em>Selection bias and correlation in seamless phase II/III clinical trials with survival data</em><br /> University of Warwick, United Kingdom</p></li>
      <li><p><strong>Brückner Matthias</strong>, Werner Brannath<br /> <em>Interim Decisions in Adaptive Clinical Trials with Time-to-event Surrogate and Primary Endpoints</em><br /> Universität Bremen, Germany</p></li>
      <li><p><strong>Asendorf Thomas</strong>, Robin Henderson, Heinz Schmidli, Tim Friede<br /> <em>Blinded Sample Size Reestimation for Time Dependent Negative Binomial Counts with Incomplete Follow-up</em><br /> University Medical Center Göttingen, Germany</p></li>
      <li><p><strong>Gera Roland</strong>, Tim Friede<br /> <em>Blinded sample size reestimation for Adaptive Enrichment designs with Longitudinal Data</em><br /> Universitätsmedizin Göttingen, Germany</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
  </div>
  <div id="multiple-testing-2" class="section level3">
    <h3>11:00 - 12:40: Multiple Testing 2</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Janssen Arnold</strong><br /> <em>Martingale approach for multiple testing and FDR control</em><br /> Heinrich-Heine University Duesseldorf, Germany</p></li>
      <li><p><strong>Solari Aldo</strong>, Jelle J. Goeman<br /> <em>Minimally Adaptive BH: a tiny but uniform improvement of the procedure of Benjamini and Hochberg</em><br /> University of Milano-Bicocca, Italy</p></li>
      <li><p><strong>Farcomeni Alessio</strong><br /> <em>A MANOVA test for multivariate lognormal observations with a spike at zero, with application to ecological niches of South Africa</em><br /> University of Rome - Sapienza, Italy</p></li>
      <li><p><strong>Meskaldji Djalel-Eddine</strong>, Stephan Morgenthaler<br /> <em>Thresholding of ordered p-values: which error rate is being controlled?</em><br /> EPFL, Switzerland</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
  </div>
  <div id="adaptive-design-4" class="section level3">
    <h3>13:50 - 15:30: Adaptive Design 4</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Chiu Yida</strong><br /> <em>Designs and Estimation in Clinical trails with Subpopulation Selection</em><br /> Lancaster University, United Kingdom</p></li>
      <li><p><strong>Kohlhas Laura</strong>, Meinhard Kieser<br /> <em>Timing of subgroup selection in adaptive enrichment designs</em><br /> Univeristy of Heidelberg, Germany</p></li>
      <li><p><strong>Krisam Johannes</strong>, Meinhard Kieser<br /> <em>Optimal Subgroup Selection Rules in Adaptive Oncology Trials with Time-to-Event Outcome</em><br /> University of Heidelberg, Germany</p></li>
      <li><p><strong>Placzek Marius</strong>, Tim Friede<br /> <em>Analysis, Sample Size Calculation and Recalculation in Designs with Multiple Nested Subgroups</em><br /> University Medical Center Göttingen, Germany</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
  </div>
  <div id="multiple-testing-3" class="section level3">
    <h3>16:20 - 18:00: Multiple Testing 3</h3>
    <ol style="list-style-type: decimal">
      <li><p><strong>Rohmeyer Kornelius</strong>, Werner Brannath, Sarah Nanninga<br /> <em>The Populationwise Error Rate - A More Liberal Error Rate for Multiplicity Adjustment in Enrichment Designs</em><br /> University of Bremen, Germany</p></li>
      <li><p><strong>Sun Hong</strong>, Werner Vach, Institute for Medical Biometry and Statistics, Frank Bretz, Novartis AG<br /> <em>A comparison of multiple testing procedures (MTPs) for testing both the overall and one subgroup specific effect in confirmatory clinical trials</em><br /> Institute for Medical Biometry and Statistics, Germany</p></li>
      <li><p><strong>Sirotko-Sibirskaya Natalia</strong>, Prof. Dr. Thorsten Dickhaus, Prof. Dr. Markus Pauly<br /> <em>Simultaneous Statistical Inference in Dynamic Factor Models (Estimation, Simulation, Application)</em><br /> University of Bremen, Germany</p></li>
      <li><p><strong>Wan Fang</strong>, Wei Liu; Frank Bretz; Yang Han;<br /> <em>Confidence Sets for Optimal Factor Levels of a Response Surface</em><br /> Lancaster University, United Kingdom</p></li>
    </ol>
    <p><a href="#top">back to overview</a></p>
    <p></p>
  </div>
</div>

