<div id="thursday-april-28" class="section level2">
<h2>Thursday, April 28</h2>
<div id="multiple-testing-1" class="section level3">
<h3>13:00 - 14:40: Multiple Testing 1</h3>

<div id="chair-gerhard-hommel" class="section level4">
<h4>Chair: <em>Gerhard Hommel</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Fortunato Pesarin</strong><br /> <em>An Analysis of Union-Intersection and Intersection-Union Tests for Equivalence and Non-Inferiority</em><br /> University of Padua, Italy</p></li>
<li><p><strong>Helmut Finner</strong>, Veronika Gontscharuk<br /> <em>Two-sample Kolmogorov-Smirnov type tests and local levels</em><br /> Deutsches Diabetes-Zentrum (DDZ), Leibniz-Zentrum für Diabetes-Forschung an der Heinrich-Heine-Universität Düsseldorf, Germany</p></li>
<li><p><strong>Veronika Gontscharuk</strong>, Helmut Finner<br /> <em>Weighted Kolmogorov-Smirnov tests in one- and two-sample problems</em><br /> German Diabetes Center, Leibniz Institute for Diabetes Research at Heinrich-Heine-University Dusseldorf, Germany</p></li>
<li><p><strong>Robin Ristl</strong>, Dong Xi, Ekkehard Glimm, Martin Posch<br /> <em>Optimal exact tests for multiple binary endpoints</em><br /> Medical University of Vienna, Austria</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
</div>
</div>
<div id="adaptive-design-1" class="section level3">
<h3>15:10 - 16:25: Adaptive Design 1</h3>

<div id="chair-meinhard-kieser" class="section level4">
<h4>Chair: <em>Meinhard Kieser</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Silke Jörgens</strong>, Tobias Mielke<br /> <em>Considerations On Futility Rules For Adaptive Dose-Finding Designs</em><br /> ICON Clinical Research, Germany</p></li>
<li><p><strong>Deepak Parashar</strong>, Jack Bowden, Colin Starr, Lorenz Wernisch, Adrian Mander<br /> <em>Optimal designs for group sequential biomarker-enrichment oncology trials.</em><br /> University of Warwick, United Kingdom</p></li>
<li><p><strong>Federico Andreis</strong>, Marco Bonetti<br /> <em>An Adaptive Enrollment Strategy for the Identification of Maximum Treatment Effect Regions</em><br /> Bocconi University, Milan, Italy</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
</div>
</div>
<div id="adaptive-design-2" class="section level3">
<h3>16:45 - 18:00: Adaptive Design 2</h3>

<div id="chair-gernot-wassmer" class="section level4">
<h4>Chair: <em>Gernot Wassmer</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Willi Maurer</strong>, Byron Jones, Ying Chen<br /> <em>A robust combination test for sample size adaptation in a two-stage cross-over trial for Average Bioequivalence</em><br /> Novartis Pharma, Switzerland</p></li>
<li><p><strong>Kevin Kunzmann</strong>, Meinhard Kieser<br /> <em>Optimal Adaptive Two-Stage Designs for Single-Arm Trials with Binary Endpoint: Recent Improvements and Consistent Inference</em><br /> Heidelberg University, Germany</p></li>
<li><p><strong>Klemens Weigl</strong>, Ivo Ponocny<br /> <em>ReThink: Adaptive Two-Stage Designs applied with PsyStatAlpha in Psychological Research</em><br /> JKU Linz, Austria</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
<p></p>
</div>
</div>
</div>
<div id="friday-april-29" class="section level2">
<h2>Friday, April 29</h2>
<div id="adaptive-design-3" class="section level3">
<h3>08:50 - 10:30: Adaptive Design 3</h3>

<div id="chair-florian-klinglmueller" class="section level4">
<h4>Chair: <em>Florian Klinglmueller</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Josephine Khan</strong>, Peter Kimani, Nigel Stallard, Ekkehard Glimm.<br /> <em>Selection bias and correlation in seamless phase II/III clinical trials with survival data</em><br /> University of Warwick, United Kingdom</p></li>
<li><p><strong>Matthias Brückner</strong>, Werner Brannath<br /> <em>Interim Decisions in Adaptive Clinical Trials with Time-to-event Surrogate and Primary Endpoints</em><br /> Universität Bremen, Germany</p></li>
<li><p><strong>Thomas Asendorf</strong>, Robin Henderson, Heinz Schmidli, Tim Friede<br /> <em>Blinded Sample Size Reestimation for Time Dependent Negative Binomial Counts with Incomplete Follow-up</em><br /> University Medical Center Göttingen, Germany</p></li>
<li><p><strong>Roland Gera</strong>, Tim Friede<br /> <em>Blinded sample size reestimation for Adaptive Enrichment designs with Longitudinal Data</em><br /> Universitätsmedizin Göttingen, Germany</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
</div>
</div>
<div id="multiple-testing-2" class="section level3">
<h3>11:00 - 12:40: Multiple Testing 2</h3>

<div id="chair-jelle-goeman" class="section level4">
<h4>Chair: <em>Jelle Goeman</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Arnold Janssen</strong><br /> <em>Martingale approach for multiple testing and FDR control</em><br /> Heinrich-Heine University Duesseldorf, Germany</p></li>
<li><p><strong>Aldo Solari</strong>, Jelle J. Goeman<br /> <em>Minimally Adaptive BH: a tiny but uniform improvement of the procedure of Benjamini and Hochberg</em><br /> University of Milano-Bicocca, Italy</p></li>
<li><p><strong>Jesse Hemerik</strong><br /> <em>False discovery proportion estimation by permutations: confidence for SAM</em><br /> Leiden University Medical Center, Netherlands</p></li>
<li><p><strong>Djalel-Eddine Meskaldji</strong>, Stephan Morgenthaler<br /> <em>Thresholding of ordered p-values: which error rate is being controlled?</em><br /> EPFL, Switzerland</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
</div>
</div>
<div id="adaptive-design-4" class="section level3">
<h3>13:50 - 15:30: Adaptive Design 4</h3>

<div id="chair-andreas-faldum" class="section level4">
<h4>Chair: <em>Andreas Faldum</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Yida Chiu</strong><br /> <em>Designs and Estimation in Clinical trails with Subpopulation Selection</em><br /> Lancaster University, United Kingdom</p></li>
<li><p><strong>Laura Kohlhas</strong>, Meinhard Kieser<br /> <em>Timing of subgroup selection in adaptive enrichment designs</em><br /> Univeristy of Heidelberg, Germany</p></li>
<li><p><strong>Johannes Krisam</strong>, Meinhard Kieser<br /> <em>Optimal Subgroup Selection Rules in Adaptive Oncology Trials with Time-to-Event Outcome</em><br /> University of Heidelberg, Germany</p></li>
<li><p><strong>Marius Placzek</strong>, Tim Friede<br /> <em>Analysis, Sample Size Calculation and Recalculation in Designs with Multiple Nested Subgroups</em><br /> University Medical Center Göttingen, Germany</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
</div>
</div>
<div id="multiple-testing-3" class="section level3">
<h3>16:20 - 17:35: Multiple Testing 3</h3>

<div id="chair-livio-finos" class="section level4">
<h4>Chair: <em>Livio Finos</em></h4>
<ol style="list-style-type: decimal">
<li><p><strong>Kornelius Rohmeyer</strong>, Werner Brannath, Sarah Nanninga<br /> <em>The Populationwise Error Rate - A More Liberal Error Rate for Multiplicity Adjustment in Enrichment Designs</em><br /> University of Bremen, Germany</p></li>
<li><p><strong>Natalia Sirotko-Sibirskaya</strong>, Prof. Dr. Thorsten Dickhaus, Prof. Dr. Markus Pauly<br /> <em>Simultaneous Statistical Inference in Dynamic Factor Models (Estimation, Simulation, Application)</em><br /> University of Bremen, Germany</p></li>
<li><p><strong>Fang Wan</strong>, Wei Liu; Frank Bretz; Yang Han;<br /> <em>Confidence Sets for Optimal Factor Levels of a Response Surface</em><br /> Lancaster University, United Kingdom</p></li>
</ol>
<p><a href="#program-overview">back to overview</a></p>
<p></p>
</div>
</div>
