---
title: Workshop program
layout: left
---


<div class="12u 12u$(medium)" id="top">
  
  <h2>Program Overview</h2>
  For a digital version of the abstract booklet
  click <a href='workshop_abstracts.pdf'>here</a>.


</div>


{% include program_overview.html %}
<div>
<h4>Information about the guided tour</h4>

We have organized a guided tour of the Pallazzo Bo - the historic part of the University. It will start at 18:20 at the main University building (Bo in the Map below), which is about a 10 minute walk from the conference venue. We will walk there together, leaving from the conference venue directly after the end of the last session. The tour will take about 40 minutes.  

Participation is free of cost, due to limited capacities only attendants who have successfully registered for the tour may attend. Please bring the coupon that you receive with your registration materials.


<h4>Information about the dinner</h4>

The dinner will be hosted at the restaurant 'Isola di Caprera' (Via Marsilio da Padova, 11/15, see map below) and start at 20:00. We will be offered a four course menu of local sea food specialties. The price of the menu is 35 Euro. An accompanying selection of drinks (Wine, Water, Coffee) are included in the price. For convenience we ask you to pay for the dinner in cash at the registration desk.

Other menu options or, if you have any dietary restrictions are available on request. Please let us know in advance, so we can make sure that your needs are accommodated.  
</div>

{% include program_detail.html %}



